<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Custom CSS styles -->
    <link rel="Stylesheet" type="text/css" href="../Public/Styles/styles.css" />
    <link rel="Stylesheet" type="text/css" href="../Public/Styles/how-it-works.css" />
</head>

<body>
    <div id="how-it-works" class="pw-how-it-works-container">

        <div class="pw-how-it-works-title">Jak to działa?</div>

        <div class="pw-how-it-works-card-container">
            <div id="stepOne" class="pw-card pw-how-it-works-card">
                <div class="pw-card-title">Krok 1</div>
                <div class="pw-card-subtitle">
                    Wypełnij krótki formularz
                </div>
                <div class="pw-card-content">
                    Zostaniesz poproszony o uzupełnienie danych
                    o swoim pupilu oraz miejscu zamieszkania
                </div>
            </div>
            
            <i class="fas fa-arrow-right pw-how-it-works-arrow"></i>

            <div id="stepTwo" class="pw-card pw-how-it-works-card">
                <div class="pw-card-title">Krok 2</div>
                <div class="pw-card-subtitle">
                    Wybierz datę i wyślij zaproszenie do opiekuna
                </div>
                <div class="pw-card-content">
                    Po uzupełnieniu formularza będziesz
                    mieć możliwość filtrowania ofert po dacie.
                    Aby wysłać zaproszenie do opiekuna wystarczy,
                    że klikniesz przycisk obok ich oferty.
                </div>
            </div>

            <i class="fas fa-arrow-right pw-how-it-works-arrow"></i>
    
            <div id="stepThree" class="pw-card pw-how-it-works-card">
                <div class="pw-card-title">Krok 3</div>
                <div class="pw-card-subtitle">
                    Czekaj na telefon od opiekuna
                </div>
                <div class="pw-card-content">
                    Opiekun błyskawicznie dostanie
                    powiadomienie o Twoim zleceniu.
                    Wystarczy, że poczekasz kilka minut,
                    na telefon! <br/>
                    Wtedy będziesz mógł omówić z opiekunem szczegóły zlecenia.
                </div>
            </div>
        </div>


    </div>
</body>