.pw-header-container {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pw-header-title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.25rem;
    margin: 2vh 6vw;
}

.pw-logo {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);

    height: 1.75rem;
    margin-left: 2vw;
}

#pw-mobile-nav {
    overflow: hidden;
    position: relative;
    display: none;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
}

#pw-mobile-nav li {
    border: 2px solid var(--primary-color);
    margin-top: 1vh;
    margin: 1vh 6vw 0;
}

ul {
    /* Override default padding */
    padding-inline-start: 0;
}

.pw-header-nav {
    display: none;
}

.pw-hamburger-menu-icon {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;

    margin-right: 10vw;
}

/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {

    .pw-header-title {
        font-size: 3.5rem;
    }

    .pw-logo {
        height: 2.75rem;
    }

    .pw-hamburger-menu-icon {
        font-size: 2.5rem;
    }

    #pw-mobile-nav {
        font-size: 1.25rem;
    }
}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {

    .pw-header-title {
        font-size: 4rem;
    }

    .pw-logo {
        height: 3rem;
    }

    .pw-hamburger-menu-icon {
        font-size: 2.75rem;
    }

    #pw-mobile-nav {
        font-size: 1.75rem;
    }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {

    .pw-header-title {
        font-size: 2.75rem;
        margin: 2vh 2.5vw;
    }

    .pw-logo {
        height: 2.25rem;
        margin-left: 0.5vw;
    }

    #pw-mobile-nav {
        display: none;
        visibility: hidden;
    }

    .pw-header-nav {
        font-size: 1.1rem;
        margin: 2vh 2.5vw;
    
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .pw-header-nav li {
        display: inline;
    }
    
    .pw-header-nav a {
        margin-left: 2.5vw;
        padding: 0 0.75rem 0.75rem 0.75rem;
    }
    
    .pw-header-nav a:first-child {
        margin-left: 0;
    }
    
    .pw-header-nav a:hover {
        font-weight: bold;
        border-bottom: dotted 2px; 
    }

    .pw-hamburger-menu-icon {
        display: none;
    }
}


/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {

    .pw-header-title {
        font-size: 3.4rem;
    }

    .pw-logo {
        height: unset;
    }

    .pw-header-nav {
        font-size: 1.2rem;
    }
}

/* Large devices i.e. monitors, tvs (1600px and up) */
@media only screen and (min-width: 1600px) {

    .pw-header-title {
        font-size: 4rem;
        margin: 2vh 2.5vw;
    }

    .pw-logo {
        height: 3.4rem;
        margin-left: 1vw;
    }

    .pw-header-nav {
        font-size: 1.35rem;
    }
}
