.pw-how-it-works-title {
  margin: 10vh 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.pw-how-it-works-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pw-how-it-works-arrow {
  transform: rotate(90deg);
  margin: auto;
  font-size: 2.5rem;
}

.pw-how-it-works-card {
  margin: 2vh 4vw;
  text-align: center;
}

/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {
  .pw-how-it-works-title {
    font-size: 2.25rem;
    margin: 8vh 0;
  }

  .pw-how-it-works-arrow {
    font-size: 2.75rem;
  }

  .pw-how-it-works-card {
    margin: 2vh 10vw;
  }
}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {
  .pw-how-it-works-title {
    font-size: 2.5rem;
    margin: 6vh 0;
  }

  .pw-how-it-works-arrow {
    font-size: 2.8rem;
  }

  .pw-how-it-works-card {
    margin: 3vh 18vw;
  }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
  .pw-how-it-works-container {
    min-height: var(--default-container-height);
  }

  .pw-how-it-works-container{
    position: relative;
    background: url('../Resources/small-dog-doing-wtf.png') no-repeat;
    background-size: 45vh;
    background-position: 45vw 55vh;
  }

  .pw-how-it-works-title {
    margin: 10vh 0 15vh 0;
    font-size: 2.25rem;
  }

  .pw-how-it-works-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pw-how-it-works-card {
    position: relative;
    margin: unset;
    width: 25vw;
  }

  .pw-how-it-works-arrow {
    transform: unset;
    display: flex;
    flex-direction: row;
    font-size: 2.2rem;
    margin: auto 2vw auto 2vw;
  }

  .pw-how-it-works-card .pw-card-title {
    font-size: 1.5rem;
  }

  .pw-how-it-works-card .pw-card-subtitle {
    font-size: 1.25rem;
  }

  .pw-how-it-works-card .pw-card-content {
    font-size: 0.9rem;
    text-align: unset;
  }
}


/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {
  .pw-how-it-works-title {
    font-size: 2.5rem;
  }

  .pw-how-it-works-card {
    margin: unset;
    width: 25vw;
    text-align: unset;
  }
  
  .pw-how-it-works-arrow {
    font-size: 2.4rem;
  }

  .pw-how-it-works-card .pw-card-title {
    font-size: 1.8rem;
  }

  .pw-how-it-works-card .pw-card-subtitle {
    font-size: 1.5rem;
  }

  .pw-how-it-works-card .pw-card-content {
    font-size: 1.1rem;
  }

  .pw-how-it-works-container{
    background-size: 50vh;
    background-position: 51vw 57vh;
  }
}

/* Large devices i.e. monitors, tvs (1600px and up) */
@media only screen and (min-width: 1600px) {  
  .pw-how-it-works-title {
    font-size: 3rem;
  }

  .pw-how-it-works-card {
    margin: unset;
    width: 25vw;
  }

  .pw-how-it-works-arrow {
    font-size: 2.4rem;
  }

  .pw-how-it-works-card .pw-card-title {
    font-size: var(--card-title-font-size);
  }

  .pw-how-it-works-card .pw-card-subtitle {
    font-size: var(--card-subtitle-font-size);
  }  

  .pw-how-it-works-card .pw-card-content {
    font-size: var(--card-content-font-size);
  }

  .pw-how-it-works-container{
    background-size: 55vh;
    background-position: 50vw 55vh;
  }
}
