.pw-landing-page-container {
  min-height: 90vh;
}

div.pw-landing-page-card {
  margin: 2vh 4vw;
  width: unset;
}

div.pw-card-title-landing-page {
  font-size: 1.75rem;
}

div.pw-card-subtitle-landing-page {
  font-size: 1.35rem;
  margin-top: 2vh;
  margin-bottom: 5vh;
}   

.pw-landing-page-button {
  width: 100%;  
  font-size: 1.2rem;  
}

.pw-landing-page-button .fa-arrow-right {
  margin-left: 1.5vw;
}

/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {
  div.pw-card-title-landing-page {
    font-size: var(--card-title-font-size);
  }

  div.pw-card-subtitle-landing-page {
    font-size: var(--card-subtitle-font-size);
    margin-top: 2vh;
    margin-bottom: 5vh;
  }

  div.pw-landing-page-card {
    margin: 2vh 10vw;
  }
}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {
  div.pw-landing-page-card {
    margin: 3vh 18vw;
  }

  .pw-landing-page-button {
    width: fit-content;
    margin-left: 75%;  
  } 

  .pw-landing-page-button .fa-arrow-right {
    margin-left: 0.5vw;
  }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
  .pw-landing-page-container {
    min-height: var(--default-container-height);
    position: relative;
    background: url('../Resources/two-dogs.png') no-repeat;
    background-size: 48vh;
    background-position: calc(100vw - 420px) 23vh;

  }

  div.pw-landing-page-card {
    position: relative;
    top: 25vh;
    left: 6vw;
    width: fit-content;
    margin: 0;
    font-size: 0.51rem !important; 
  }

  /* .pw-landing-page-select {
    margin: 1vh 1vw;
    font-size: 1.2rem;
    min-width: fit-content;
    width: 60%;
  }
    
  .pw-landing-page-button {
    margin-left: 75%;  
    font-size: 1.2rem;  
  }

  .pw-landing-page-button .fa-arrow-right {
    margin-left: 0.5vw;
  } */
}


/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {
  .pw-landing-page-container {
    background-size: 60vh;
    background-position: calc(100vw - 580px) 18vh;
  }
}

@media only screen and (min-width: 1600px) {
  .pw-landing-page-container {
    background-size: 75vh;
    background-position: calc(100vw - 800px) 16vh;
  }
}

/* Full HD and upper */
@media only screen and (min-width: 1900px) {
  .pw-landing-page-container {
    background-size: 80vh;
    background-position: calc(100vw - 920px) 10vh;
  }
}

