div.pw-card-login-page {
  margin: 2vh 4vw;
  width: unset;
}

div.pw-card-title-login-page {
  font-size: 1.5rem;
}

div.pw-card-subtitle-login-page {
  font-size: 1.2rem;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

div.pw-card-content-login-page {
  font-size: 1rem;
}

.pw-login-page-button {
  display: flex;
}

.pw-login-page-link {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {
  div.pw-card-title-login-page {
    font-size: var(--card-title-font-size);
  }

  div.pw-card-subtitle-login-page {
    font-size: var(--card-subtitle-font-size);
  }

  div.pw-card-content-login-page {
    font-size: var(--card-content-font-size);
  }

  .pw-login-page-link {
    font-size: 0.9rem;
  }

  div.pw-card-login-page {
    margin: 2vh 10vw;
  }
}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {
  div.pw-card-login-page {
    margin: 3vh 18vw;
  }

  .pw-login-page-link {
    font-size: unset;
  }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
  div.pw-card-login-page{
    margin: 0;
    width: fit-content;
    position: relative;
    top: 15vh;
    left: 50vw;
  }
  .pw-login-page-container {
    min-height: var(--default-container-height);
    position: relative;
    background: url('../Resources/happy-turtle.png') no-repeat;
    background-size: 45vh;
    background-position: 5vw 25vh;
  }
  .pw-link:hover {
    border-bottom: 2px dotted;
  }

  .pw-card-content-login-page form .pw-login-input {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .pw-card-content-login-page .pw-login-input, input.pw-input {
    width: 100%;
  }

  .pw-login-page-container {
    background-size: 60vh;
    background-position: 10vw 25vh;
  }
}

@media only screen and (min-width: 1600px) {
  .pw-card-content-login-page .pw-login-input, input.pw-input {
    width: 100%;
  }

  .pw-login-page-container {
    background-size: 65vh;
    background-position: 10vw 25vh;
  }
}