.pw-order-details-card {
  margin: 4vh 4vw 0 4vw;
}

button[class="pw-button"] {
  margin-top: 4vh;
}

@media only screen and (min-width: 1200px) {
  .pw-order-details-card {
    margin: 10vh auto 0 auto;
  }  
}
