
.pw-order-list-container .pw-card-order-list {
  margin: 4vh auto 4vh auto; 
  width: 80vw;
}

.pw-card-content-order-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pw-card-offer {
  margin: 6vh auto 0 auto;
  min-width: 60vw;
}

.pw-order-details {
  font-weight: bold;
}

.pw-card-row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 4vh auto 4vh auto;
}

.pw-order-section {
  text-align: left;
  padding: 1vh 1vw;
};

button.pw-button-reject:hover {
  background: radial-gradient(rgba(207, 0, 15, 0.5), transparent);
}

button.pw-button-accept:hover {
  background: radial-gradient(rgba(0, 230, 64, 0.15), transparent);
}


.pw-order-section span {
  text-align: end;
}

.pw-button-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2vh;
}

/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {
  .pw-order-list-container .pw-card-order-list {
    margin: 4vh auto 4vh auto; 
    width: 80vw;
  }
  
  .pw-card-content-order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pw-card-offer {
    margin: 6vh auto 0 auto;
    min-width: 60vw;
  }
  
  .pw-order-details {
    font-weight: bold;
  }
  
  .pw-card-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin: 4vh auto 4vh auto;
  }
  
  .pw-order-section {
    justify-self: center;
    text-align: left;
    padding: 1vh 1vw;
    border: dotted 2px var(--primary-color);
  };
  
  
  
  .pw-order-section span {
    text-align: end;
  }
  
  .pw-button-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
  }
  
  .pw-button-control .pw-button {
    width: 10vw;
  }
}
