div.pw-page-not-found-card {
  margin: 2vh 4vw;
  width: unset;
}

div.pw-card-title-page-not-found {
  font-size: 1.5rem;
}

div.pw-card-subtitle-page-not-found {
  font-size: 1.2rem;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

div.pw-card-content-page-not-found {
  font-size: 1rem;
}

.pw-page-not-found-button {
  width: 100%;
}

/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {
  div.pw-page-not-found-card {
    margin: 2vh 10vw;
  }

  div.pw-card-title-page-not-found {
    font-size: var(--card-title-font-size);
  }

  div.pw-card-subtitle-page-not-found {
    font-size: var(--card-subtitle-font-size);
  }

  .pw-card-content-page-not-found {
    font-size: var(--card-content-font-size);
  }
}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {
  div.pw-page-not-found-card {
    margin: 3vh 18vw;
  }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
  div.pw-page-not-found-card {
    margin: 0;
    width: fit-content;
    position: relative;
    top: 20vh;
    left: 15vw;
  }

  .pw-page-not-found-container {
    min-height: var(--default-container-height);
    position: relative;
    background: url('../Resources/not-quite-happy-dog.png') no-repeat;
    background-size: 60vh;
    background-position: calc(100vw - 520px) 40vh;
  }
  

  .pw-page-not-found-container {
    min-height: var(--default-container-height);
  }
}


@media only screen and (min-width: 1600px) {
  .pw-page-not-found-container {
    background-position: calc(100vw - 820px) 35vh;
  }
}