div.pw-card-register-page {
  margin: 2vh 4vw;
  width: unset;
}

div.pw-card-title-register-page {
  font-size: 1.5rem;
}

div.pw-card-subtitle-register-page {
  font-size: 1.2rem;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

div.pw-card-content-register-page {
  font-size: 1rem;
}

.pw-register-page-button {
  display: flex;
}

.pw-register-page-link {
  font-size: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {
  div.pw-card-title-register-page {
    font-size: var(--card-title-font-size);
  }

  div.pw-card-subtitle-register-page {
    font-size: var(--card-subtitle-font-size);
  }

  div.pw-card-content-register-page {
    font-size: var(--card-content-font-size);
  }

  .pw-register-page-link {
    font-size: 0.9rem;
  }

  div.pw-card-register-page {
    margin: 2vh 10vw;
  }
}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {
  div.pw-card-register-page {
    margin: 3vh 18vw;
  }

  .pw-register-page-link {
    font-size: unset;
  }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
  div.pw-card-register-page{
    margin: 0;
    width: fit-content;
    position: relative;
    top: 10vh;
    left: 4vw;
  }
  .pw-register-page-container {
    min-height: var(--default-container-height);
    position: relative;
    background: url('../Resources/happy-dog.png') no-repeat;
    background-size: 55vh;
    background-position: calc(100vw - 500px) 20vh;
  }
  .pw-link:hover {
    border-bottom: 2px dotted;
  }

  form .pw-input {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .pw-register-page-container {
    background-size: 60vh;
    background-position: calc(100vw - 600px) 18vh;
  }
}

@media only screen and (min-width: 1600px) {
  .pw-register-page-container {
    background-size: 65vh;
    background-position: calc(100vw - 650px) 18vh;
  }
}

@media only screen and (min-width: 1900px) {
  .pw-register-page-container {
    background-size: 70vh;
    background-position: calc(100vw - 900px) 20vh;
  }
}