/* Pseudoclasses for styling date and time picker
::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; } */

.pw-card-search-results-container {
    margin: 4vh 2vw;
    padding: 2vh 4vw;
    text-align: center;
}

.pw-card-search-results-date {
    display: inline-block;
    align-items: center;
    margin: 0 0 4vh;
}

#tmp .pw-card-row {
  width: 100%;
  min-height: 20vh;
  padding: 1vh 0;
  margin: 5vh 0;
  font-size: 1.2rem;
}

span {
  display: block;
  text-align: center;
  margin: 3vh auto;
  align-self: center;
  justify-self: center;
}

span:first-child {
    font-weight: bold;
}

/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {
    .pw-card-search-results-container {
        margin: 4vh 10vw;
    }

    #tmp .pw-card-row {
        min-height: 40vh;
    }
}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {
    .pw-card-search-results-container {
        margin: 4vh 18vw;
    }

    #tmp .pw-card-row {
        min-height: 30vh;
    }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
    .pw-search-results-container {
        min-height: var(--default-container-height);
    }
    
    .pw-card-search-results-container {
        margin: 4vh auto;
        padding: 2vh 4vw;
        width: 80vw;
        text-align: center;
    }
    
    .pw-card-search-results-date {
        display: inline-block;
        align-items: center;
        margin: 0 2vw 4vh;
    }
    
    .pw-card-search-results-settings {
        display: flex;
        justify-content: space-between;
    }
    
    #tmp .pw-card-row {
        font-size: 0.8rem;
        min-height: unset;
        padding: 1vh 1vw;
        display: none;
        width: 75%;
        margin: 1vh auto 1vh auto;
    }

    span {
      display: inline-block;
      margin: 1vh auto;
      width: 32%;
      vertical-align: middle;
    }

    span:last-child {
      text-align: end;
    }
} 

/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {
  #tmp .pw-card-row {
        font-size: 1rem;
    }

    form div.pw-card-search-results-container {
      min-width: 60vw;
  }
}

/* Large devices i.e. monitors, tvs (1600px and up) */
@media only screen and (min-width: 1600px) {  
  #tmp .pw-card-row {
        font-size: 1.2rem;
    }
}

/* for jQuery fadeIn effect */
.pw-card-content .pw-card-row {
  display: none;
}

.pw-date-start {
  background: radial-gradient(#d1ffa0, transparent);
}

.pw-date-end {
  background: radial-gradient(rgba(214, 69, 65, 0.5), transparent);
  
}