.pw-search-form-container {
    min-height: var(--default-container-height);
}

div.pw-search-form-card {
  margin: 4vh auto;
  width: 80vw;
}

form {
  font-size: 1.1rem;
}

.pw-search-form-card-content {
    display: flex;
    flex-direction: column;
}

.pw-animal-input {
    display: inline-block;
    padding: 0 2vw;
    text-align: center;
    width: 18%;
}

.pw-animal-icon {
    font-size: 7rem;
    padding-bottom: 1vh;
}

.pw-search-form-next-button {
    width: 40%;
    font-size: 1.2rem;  
}

.pw-search-form-back-button {
    width: 40%;
    font-size: 1.2rem;  
}

.pw-search-form-card-step-one .pw-search-form-confirm-button {
  margin-top: 10vh;
  margin-left: 50vw;
  min-width: 20%;
}

/* For jQuery animation */
.pw-search-form-container .pw-card  {
  display: none;
}
