div.pw-card-settings-caretaker {
    margin: 2vh 4vw;
    width: unset;
}

div.pw-card-title-settings-caretaker {
    font-size: 1.5rem;
}

div.pw-card-subtitle-settings-caretaker {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

div.pw-card-content-settings-caretaker {
    font-size: 0.9rem;
}

div.pw-button-settings-caretaker {
    width: 100%;
}

div.pw-week-days-container {
  margin: 0;
  width: 100%;
}

form[action="?page=settings-caretaker&section=preferences"] .pw-card {
  margin-bottom: 2vh;
}

button.pw-button {
  margin-bottom: 4vh;
}

input.pw-input, input.pw-input:valid {
  background: none;
}


/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {
    .pw-card div.pw-card {
      margin: 0 0 2vh 0;
      padding: 2vh 2vw;
      
      text-align: center;
      line-height: 30px;

    div.pw-card-title {
        font-size: var(--card-title-font-size);
    }

    div.pw-card-subtitle {
        font-size: var(--card-subtitle-font-size);
    }

    div.pw-card-content {
        font-size: var(--card-content-font-size);
    }
}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
    div.pw-button-settings-caretaker {
        width: fit-content;
    }
    div.pw-card-title {
        font-size: 1.5rem;
    }
    
    div.pw-card-subtitle {
        font-size: 1.2rem;
    }
    
    div.pw-card-content {
        font-size: 0.9rem;
    }

    .pw-settings-caretaker-container {
        min-height: var(--default-container-height);
    }
    
    .pw-card-settings-caretaker {
        width: 90vw;
        margin: 4vh auto;
    }
    
    .pw-card-grid-settings-caretaker {
        display: grid;
    
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {
    div.pw-card-title {
        font-size: var(--card-title-font-size);
    }

    div.pw-card-subtitle {
        font-size: var(--card-subtitle-font-size);
    }

    div.pw-card-content {
        font-size: var(--card-content-font-size);
    }
}
