@import "variables.css";

html {
    font-size: var(--default-font-size);
    font-family: var(--primary-font-family);
    scroll-behavior: smooth;
    color: var(--primary-color);   
}

body {
    min-height: 100vh;
    margin: 0;
    background: var(--primary-bg-gradient);
}

a {
    text-decoration: none;
    color: inherit;
}

/* PetWalker card */
.pw-card {
    position: relative;

    width: fit-content;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.pw-card-title {
    margin: 2vh 4vw;
    font-size: var(--card-title-font-size);
    font-weight: bold;

    text-align: center;
}

.pw-card-subtitle {
    margin: 1vh 2vw 4vh 2vw;
    font-size: var(--card-subtitle-font-size);
    text-align: center;
}

.pw-card-content {
    font-size: var(--card-content-font-size);
    padding-left: 0.7vw;
    margin: 2vh 2vw;
    text-align: left;
}

.pw-card-footer {
    font-size: var(--card-footer-font-size);
    font-style: italic;
    text-align: left;
}


/* PetWalker buttons & inputs */
.pw-button-position {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}

.pw-select {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: italic;
    margin: 1vh 4vw 1vh 4vw;
    background-color: var(--secondary-lighter-color);
    border: 2px solid var(--primary-color);
}

.pw-input {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-lighter-color);
  height: 4vh;
  margin: 1vh 4vw 1vh 4vw;
  width: 75%;
  text-align: left;
  text-indent: 5%;
  background: radial-gradient(rgba(255, 255, 126, 1), transparent);
}

.pw-input:valid {
  background: radial-gradient(rgba(0, 230, 64, 0.15), transparent);
}

.pw-input:focus {
  outline: none;
}

.pw-button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 1vh 1vw;

  background-color: var(--secondary-lighter-color);
  border: 2px solid var(--primary-color);
}

.pw-button:hover
{
  border: 3px solid var(--primary-color);
  background: radial-gradient(rgba(255, 255, 126, 1), transparent);
  font-weight: bold;
  padding: calc(1vh + -1px) calc(1vw + -1px);
  cursor: pointer;
}


.pw-date {
  border: 2px dotted var(--primary-color);
}

.pw-date-input:focus {
  outline: none;
}


/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {
  .pw-input {
    border: none;
    border-bottom: 2px dotted var(--primary-color);
    border-radius: 4px;
    min-height: 2.5vh;
    text-indent: 0;
    width: 50%;
    margin: 0 0 1vh 0;
  }

  form .pw-input {
    text-align: center;
  }

  .pw-select {
    margin: 0 0 1vh 0;
  }
}

/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {
  .pw-input {
    width: 35%;
  } 
}

/* Large devices i.e. monitors, tvs (1600px and up) */
@media only screen and (min-width: 1600px) {  
  .pw-input {
    width: 25%;
  } 
}


