:root {
    /* Project colors */
    --primary-color: rgb(139,69,19);
    --secondary-color: cornsilk;
    --secondary-lighter-color: white;
    --tertiary-color: black;
    --primary-bg-gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(91,58,42,1) 0%, rgba(255,145,0,1) 0%, rgba(255,141,0,1) 10%, rgba(255,158,0,1) 20%, rgba(255,166,0,1) 30%, rgba(255,186,8,1) 40%, rgba(255,200,17,1) 50%, rgba(255,212,15,1) 60%, rgba(255,224,12,1) 70%, rgba(255,240,9,1) 80%, rgba(255,248,4,1) 90%, rgba(254,255,0,1) 100%);


    /* Project fonts */
    --default-font-size: 16px;
    --primary-font-family: 'Pangolin', cursive;
    --card-title-font-size: 2rem;
    --card-subtitle-font-size: 1.5rem;
    --card-content-font-size: 1.2rem;
    --card-footer-font-size: 0.75rem;

    /* Dimensions */
    --default-container-height: 90vh;

    /* Media queries breakpoints */

    /* Extra small devices (portrait phones, less than 576px) */
    /* No media query for `xs` since this is the default (mobile first) */
    
    /* Small devices (landscape phones, 576px and up) */
    --small-and-up: 576px;
    
    /* Medium devices (tablets, 768px and up) */
    --medium-and-up: 768px;
    
    /* Large devices (desktops, 992px and up) */
    --large-and-up: 992px;
    
    /* Extra large devices (large desktops, 1200px and up) */
    --xlarge-and-up: 1200px;
    
    /* Extra extra large devices (1600px and up) */
    --xxlarge-and-up: 1600px;
    
    /* Super extra large devices (high-res desktops and TVs, 2560px and up) */
    --xxxlarge-and-up: 2560px;

}

/* template */


/* Small devices i.e. wider smartphones or landscape common smartphones (576px and up) */
@media only screen and (min-width: 576px) {

}

/* Medium devices i.e. wider tablets or landscape smartphones (768px and up) */
@media only screen and (min-width: 768px) {

}

/* Smaller stationary devices i.e. older monitors, laptops screens, larger tablets (992px and up) */
@media only screen and (min-width: 992px) {

}


/* Stationary devices i.e. older monitors, laptops screens, larger tablets (1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Large devices i.e. monitors, tvs (1600px and up) */
@media only screen and (min-width: 1600px) {  

}
